* {
	box-sizing: border-box;
/*
	margin: 0;
  padding: 0;
*/
}

h1 {
	text-align: center; 
}  

.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-escritorio-1 {
			float: left;
			width: 31%;
	} 
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-tablet-1 {
			float: left;
			width: 46%;
	} 
	.col-tablet-2 {
			float: left;
			width: 94%;
	} 	
}

@media (max-width: 767px) {
	.col-movil-1 {
			float: left;
			width: 95%;
	} 
}

.cajas {
	       background-color: grey;
	       border: 1px solid black;
	       margin: 10px;
	       font-size: 12px;
	       box-sizing: border-box;
}

.Chiken
{
	       background-color: orange;
	       border: 1px solid black;
	       float: right;
	       padding-left: 20px;
	       padding-right: 20px;	       
}

.Beef
{
	       background-color: red;
	       border: 1px solid black;
	       color: white;
	       float: right;
	       padding-left: 20px;
	       padding-right: 20px;	       
}

.Sushi
{
	       background-color: yellow;
	       border: 1px solid black;
	       float: right;
	       padding-left: 20px;
	       padding-right: 20px;
}